<p>login works!</p>
<mat-card class="login-box">
    <mat-card-content>
        <mat-card-title class="card-title">Inicio de Sesion</mat-card-title>
        <mat-card-subtitle>Ingrese su usuario y contraseña</mat-card-subtitle>
        <div>
            <mat-form-field class="caja">
                <mat-label>Email: </mat-label>
                <input type="email" matInput placeholder="pat@example.com" #userEmail required>

            </mat-form-field>
            <mat-form-field class="caja ">
                <mat-label>Clave: </mat-label>
                <input type="password" matInput #userPwd required>
            </mat-form-field>
            <button mat-button (click)="autservice.login(userEmail.value, userPwd.value)">INGRESAR </button>
            <button mat-button (click)="openDialog()">CREAR CUENTA NUEVA</button>
        </div>
    </mat-card-content>
</mat-card>
