<div class="box">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Juan Carlos" #input>
  </mat-form-field>
  <div >
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
      <ng-container matColumnDef="nombres">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRES </th>
        <td mat-cell *matCellDef="let row"> {{row.Nombres}} </td>
      </ng-container>

      <ng-container matColumnDef="apellidos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> APELLIDOS </th>
        <td mat-cell *matCellDef="let row"> {{row.Apellidos}} </td>
      </ng-container>
      <ng-container matColumnDef="genero">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> GENERO </th>
        <td mat-cell *matCellDef="let row"> {{row.Genero}} </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
        <td mat-cell *matCellDef="let row">

          <button mat-raised-button color="warn" (click)="eliminar(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-raised-button color="accent" (click)="abrirEditarPersona(row)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="matcell" colspan="4">No hay datos "{{input.value}}"</td>
      </tr>
    </table>
  </div>
</div>
