<h1><strong>ES MI PRIMERA APLICACION CON ANGULAR + FIREBASE</strong></h1>
<mat-toolbar-row>
    <span>APP</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="autservice.logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Cerrar Sesion</span>
        </button>
        <button (click)="registrarPersona()">Registrar Persona</button>
        <button (click)="abrirlistapersona()">Lista de personas</button>
    </mat-menu>
</mat-toolbar-row>
<app-listarpersonas></app-listarpersonas>

